body {
    background-color: #12372A;
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #12372A;
    border-bottom: 2px solid #436850;
}

.containerHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.dropdown-toggle {
    cursor: pointer;
    padding: 1rem;
    background-image: url(./assets/img/icon-menu.svg);
    background-color:#12372A ;
    border: none;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    margin-top: 1.2rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(10px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 7.5rem;
    align-items: center;
}

.dropdown-item {
    padding-top: 5.625rem;
    cursor: pointer;
    text-decoration: none;
    color: #F9F9F9;
    font-size: 3.8rem;
}

header h2 {
    margin:0;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ADBC9F;
}

.colorTheme {
    background: #436850;
    width: 3rem;
    border-radius: 2rem;
    padding: 0.3rem;
    cursor: pointer;
}

.colorThemePicker {
    background-color: #FBFADA;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.banner {
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.myPhoto
 {
    border-radius: 50%;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h2 {
    margin: 1.5rem 0 0 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ADBC9F;
    text-align: center;
}

.intro .name {
    color:#FBFADA;
}

.intro h1 {
    margin: 1rem 0 1rem 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #afabab;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid #436850;
    border-radius: 20px;
}

.personalSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personalSummary h2{
    color: #ADBC9F;
    margin: 1.5rem 0 0 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.personalSummary p{
    color: #FBFADA;
    font-size: 1.1rem;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    line-height: 150%;
    margin: 1.5rem 0 0 0;
}

.skills {
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.skills h2 {
    color: #ADBC9F;
    margin: 1.5rem 0 0 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin: 1rem 0 0 0;
}

.card {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ADBC9F;
    border-top-left-radius: 2.5rem;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.card-title {
    color: #ffffff
}

.card-img-top {
    width: 60px;
    height: 60px;
}